<h1>{{title}}</h1>
<div>
  <p>Welcome to {{title}}</p>

  {{#if solution}}
  <p>Solved!</p>
  <ol class="moves_list">
    {{#each solution}}
    <li>{{this.from}} --> {{this.to}}</li>
    {{/each}}
  </ol>
  {{/if}}
</div>